body {
    background: url("../images/login_bg.png") no-repeat fixed 0% 0% #488bc5;
    background-size: 100% 100%;
}

footer > div {
    margin: auto;
}

footer a p {
    color: #e1e0e0 !important;
}

footer a p:hover {
    color: #ffffff !important;
}